APP_TITLE=Orders
APP_DESCRIPTION=Сервис управления заказами

ORIGINS=http://example.com,http://test.ru

DB_TYPE=postgresql
DB_CONNECTOR=asyncpg
POSTGRES_DB=orders
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_CONTAINER=postgres_db
POSTGRES_PORT=5432

DB_SCHEMA=orders

KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_PRODUCER_ACKS=all
KAFKA_PRODUCER_RETRIES=3
KAFKA_PRODUCER_RETRY_DELAY=1
KAFKA_TOPIC_NEW_ORDER=new_order

REDIS_URL=redis://redis:6379/0

RATE_LIMIT=10
RATE_LIMIT_TTL=10

JWT_SECRET=superdupersecretsuperdupersecretsuperdupersecretsuperdupersecret
JWT_EXPIRES_MINUTES=10
JWT_REFRESH_EXPIRES_MINUTES=4320
USER_CACHE_TTL=60
ORDER_CACHE_TTL=300

PASS_MIN_LENGTH=8
PASS_MAX_LENGTH=256
