KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_PRODUCER_ACKS=all
KAFKA_PRODUCER_RETRIES=3
KAFKA_PRODUCER_RETRY_DELAY=1
KAFKA_TOPIC_NEW_ORDER=new_order

REDIS_BROKER_URL=redis://redis:6379/0
REDIS_BACKEND_URL=redis://redis:6379/1
